[submodule "frontend"]
	path = frontend
	url = https://github.com/deanFL0/absensi_frontend_next.git
[submodule "backend"]
	path = backend
	url = https://github.com/deanFL0/absensi_backend_laravel.git
